/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.home-container {
  height: calc(100vh - 150px);
}

.flex-content {
  margin-top: 150px;
}

.flex-content {
  flex-wrap: wrap;
}


#home-search-button {
  width: 200px !important;
  padding: 6px;
}

.search-row {
  display: flex;
  flex-grow: 1;
  width: 800px;
}
