.bordered {
  border-bottom: 1px solid $soft-lines;
  background-color: white;
}

.full-width-border {
  width: 100%;
  border-bottom: 1px solid $soft-lines;
}

h6 {
  color: $darkgray;
}

li {
  list-style: none;
}



.justified {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 200px;
}
