.show-wrapper {
  background: white;
  transition: all 0.3s ease;
  display: flex;
  padding: 0px;
  justify-content: center;
  max-width: 100%;
  border-top: 1px solid $soft-lines;
}

.show-content-container {
  width: 1000px;
  min-width: 40%;
  background: white;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

#summary {
  min-height: 300px;
}

.show-summary {

}

.show-container-left {
  min-width: 600px;
  float: left;
  border-bottom: 1px solid $soft-lines;
  flex-grow: 1;
}

.show-container-right {
  background: red;
  min-width: 400px;
  float: left;
  flex-grow: 1;
}

.show-details {

}


.show-reviews {

}

a > h6 {
  color: $darkgray;
}

#avatar {
  padding-top: 10px;
}
