<div class="footer-wrapper">
  <div class="container text-center footer-container">

    <div class="footer-section">
      <h6>Airbnb</h6>
    </div>

    <div class="footer-section">
      <h6>Cities</h6>
      <%  %>
    </div>

    <div class="footer-section">
      <h6>Become a Host</h6>
    </div>
  </div>
</div>

