
<div class="container home-container">
  <div class="row home-title-row">
    <ul class="list-inline flex-content">
      <li><h1>Going on a trip?</h1></li>
      <li><h2>Book unique places and</h2></li>
      <h2>experience cities like a local.</h2>
    </ul>
  </div>
  <div class="row search-row">
    <form action="/s" method="get">
      <ul class="list-inline search-row">
        <li>
          <input type="search" name="address" id="city" class="form-control search-row" placeholder="Where are we going?" />
        </li>
        <li>
          <button class="btn btn-primary" id="home-search-button" type="submit">Search Rooms</button>
        </li>
      </ul>
    </form><hr>
  </div>
  <div class="row">
    <div class="row cards-row">
      <% @rooms[0..2].each do |room| %>
        <div class="col-lg-4 card-container">
          <%= render 'rooms/room_card', :room => room %>
        </div>
      <% end  %>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/places.js/1/places.min.js"></script>
<script>
  (function() {
    var placesAutocomplete = places({
      container: document.querySelector('#city')
    });

    var $city = document.querySelector('#city-value')
    placesAutocomplete.on('change', function(e) {
      $city.textContent = e.suggestion.value
    });

    placesAutocomplete.on('clear', function() {
      $city.textContent = 'none';
    });

  })();
</script>



