<div class="banner">
  <div class="banner-content">
    <h1>Welcome Home</h1>
    <p>Select the room you want to rent</p>
    <div class="home-search">
      <%= simple_form_for :search, url: rooms_path, method: :get, html: {class: "form-inline"} do |f| %>
        <%= text_field :city, placeholder: 'City ?', label: false,input_html: {type: "search"class: "form-control input-lg"} %>
        <%= f.input :date, as: :date, label: false,input_html: {class: "form-control input-lg"} %>
        <p class="home_button"><%= f.button :submit, input_html: {class: "btn btn-home-search btn-lg"}%></p>
      <% end %>
    </div>
  </div>
</div>

<div class="text-center padded features">
  <div class="container">
    <div class="row">
      <h1 class="text-center">Enjoy your stay</h1>
      <p>Be unique and rent the trendiest place</p>
      <br>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <i class="fa fa-wheelchair-alt fa-3x" aria-hidden="true"></i>
        <h2>Single Rooms</h2>
        <p>The world is your new home.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <i class="fa fa-bed fa-3x" aria-hidden="true"></i>
        <h2>Suites</h2>
        <p>Comfort</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <i class="fa fa-user-plus fa-3x" aria-hidden="true"></i>
        <h2>Bunkbeds</h2>
        <p>Discover a new culture and lifestyle.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 ">
        <i class="fa fa-users fa-3x" aria-hidden="true"></i>
        <h2>KNAASSSSASSS</h2>
        <p>Join a community you will love.</p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-grey padded">
  <div class="container">
    <div class="row">
      <h1 class='text-center'>Discover the Clonebnb selection </h1>
      <p> RENDER CARDS </p>

    </div>
  </div>
</div>
