
.footer-social-links-wrapper {
  transition: all 0.3s ease;
  height: 80px;
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  background: white;
}

.footer-social-links-container {
  border-top: 1px solid $soft-lines;
  padding: 20px 15px;
  width: 100%;
  position: absolute;
}

.footer-social-links-container a {
  float: right;
  margin: 0px 15px 20px 15px;
  font-size: 25px;
  color: $gray-base;
}

#show-view-footer {
  position: fixed;
  .footer-social-links-container {
    position: fixed;
  }
}
