<div class="user-container">
  <div class="avatar-container">
    <div class="avatar-large">
    </div>
  </div>
  <div class="name">
  </div>
</div>

<div class="info-container padded">
  <div class="col-md-3 text-center">
    <div class="avatar-large" id="avatar">
      <img class="avatar-large" id="navbar-wagon-menu" data-toggle="dropdown" src="https://graph.facebook.com/v2.6/1450935128273252/picture?type=square" alt="Picture?type=square">
      <a href=""><h6>Guilherme</h6></a>
    </div>
  </div>
  <div class="col-md-9">
    <h3>Name of the Listing</h3>
    <div class="display-address">
      <a href="" class="address-link"><h6>  Address linking to map</h6></a>
      <a href="" class="reviews-link">Average rating linking to reviews section</a>
    </div>
  </div>
</div>
