.cards-row {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin: auto;
  min-width: 348px;
}

.card {
  height: 200px;
  background-size: cover !important;
  position: relative;
  top: 10px;
  margin-bottom:10px;
  min-width: 348px;
  align-self: center;
}

.card-details {
  margin-top: 25px;
  line-height: 0.7;
  ul {
    margin-bottom: 0px;
  }
}

.card-link {
  min-width: 348px;
}

.card-link:hover {
  cursor: pointer;
}

.card-address {
  margin-top: -20px;
  p {
  color: $darkgray;
  }
}

.card-address:hover {
  text-decoration: none;
}

.card-name {
  color: $text;
}

.card-name:hover {
  color: $text;
}
