.cards-row {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  height: 200px;
  background-size: cover !important;
  position: relative;
  top: 10px;
  margin-bottom:10px;
  min-width: 300px;
  align-self: center;
}

.card-details {
  margin-top: 25px;
  line-height: 0.9;
}
