.star {
  padding: 0 !important;
  font-size: 12px;
}

.star-active {
  color: $brand-primary;
}

#reviews-average:hover {
  text-decoration: none;
}

#reviews-average {
  color: $soft-lines;
}

.title-margins {
  margin-top: 70px;
}
